body
{
    color:white;
    background:rgb(240, 187, 62);

}
.heading
{
    width: 80%;
    font-size: 22px;
}
#camera
{
    border: 2px dashed black;
    width: 350px;
    height: 300px;
}
.name_of_objects, #result_object_name , #result_onject_accuracy
{
    color: rgb(6, 44, 132);
}

